.msjSuccess {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.msjNoSuccess {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-remove{
  background-color: black;
  color: red;
}

.header__contain{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .header__contain > div{
  flex-grow: 1;
  height: 50%;
}
 */
.header__contain__user{
  display: flex;
  align-items: center;
}